In [1]:
import requests
from bs4 import BeautifulSoup
url='https://ca.linkedin.com/jobs/search?keywords=Data%2BAnalysis&location=Secunder%C4%81b%C4%81d%2C%2BTelangana%2C%2BIndia&trk=homepage-jobseeker_jobs-search-bar_search-submit&currentJobId=2151213689&position=2&pageNum=0'
page=requests.get(url)
soup=BeautifulSoup(page.content,'html.parser')

In [2]:
results=soup.find_all('span',class_='screen-reader-text')

In [3]:
print(len(results))

25

In [4]:
results[0].text

'Data Analyst'

In [5]:
ROLES=[]
for i in range(0,23):
    ROLES.append(results[i].text)
ROLES
print(len(ROLES))

23

In [6]:
print(len(ROLES))

23

In [7]:
links=soup.find_all('a',class_='result-card__full-card-link')
print(len(links))

25

In [8]:
link=[]
for i in range(0,23):
    link.append(links[1]['href'])

In [9]:
print(len(link))

23

In [10]:
COMPANY=soup.find_all('a',class_='result-card__subtitle-link job-result-card__subtitle-link')
COMPANY[22].text

'PINKERTON | Comprehensive Risk Management'

In [11]:
len(COMPANY)

24

In [12]:
COMPANIES=[]
for i in range(0,23):
    COMPANIES.append(COMPANY[i].text)
COMPANIES

['TouchNote',
 'Compass',
 'Uber',
 'Rossignol Group',
 'Deloitte India (Offices of the US)',
 'Mordor Intelligence',
 'JPMorgan Chase & Co.',
 'PloPdo',
 'Google',
 'Accenture in India',
 'Microsoft',
 'Dynata',
 'Ivy',
 'RB',
 'J.P. Morgan',
 'Creative Hands HR Consultancy',
 'MedTourEasy',
 'BuzzBoard',
 'GE Appliances, a Haier company',
 'Epiq',
 'Amazon',
 'Ryan',
 'PINKERTON | Comprehensive Risk Management']

In [13]:
print(len(COMPANIES))

23

In [14]:
L=soup.find_all('span',class_="job-result-card__location")
L
print(len(L))

25

In [15]:
L[1].text

'Hyderabad, Telangana, India'

In [16]:
LOCATION=[]
for i in range(0,23):
    LOCATION.append(L[i].text)
LOCATION

['Hyderabad, Telangana, India',
 'Hyderabad, Telangana, India',
 'Hyderabad, Telangana, India',
 'Hyderabad, Telangana, India',
 'Hyderabad, Telangana, India',
 'Hyderabad, Telangana, India',
 'Hyderabad, Telangana, India',
 'Hyderabad, Telangana, India',
 'Hyderabad, Telangana, India',
 'Hyderabad, Telangana, India',
 'Hyderabad, Telangana, India',
 'Hyderabad, Telangana, India',
 'Hyderabad, Telangana, India',
 'Hyderabad, Telangana, India',
 'Bibinagar, Telangana, India',
 'Hyderabad, Telangana, India',
 'Hyderabad, Telangana, India',
 'Hyderabad, Telangana, India',
 'Hyderabad, Telangana, India',
 'Hyderabad, Telangana, India',
 'Greater Hyderabad Area',
 'Hyderabad, Telangana, India',
 'Hyderabad, Telangana, India']

In [17]:
print(len(LOCATION))

23

In [18]:
import pandas as pd
LINKED_IN=pd.DataFrame({'ROLES':ROLES,'COMPANIES':COMPANIES,'Links':link,'LOCATION':LOCATION})
LINKED_IN

,ROLES,COMPANIES,Links,LOCATION
0,Data Analyst,TouchNote,https://in.linkedin.com/jobs/view/data-analyst...,"Hyderabad, Telangana, India"
1,Data Analyst,Compass,https://in.linkedin.com/jobs/view/data-analyst...,"Hyderabad, Telangana, India"
2,Associate Risk Analyst I,Uber,https://in.linkedin.com/jobs/view/data-analyst...,"Hyderabad, Telangana, India"
3,Junior Data Scientist,Rossignol Group,https://in.linkedin.com/jobs/view/data-analyst...,"Hyderabad, Telangana, India"
4,Junior Data Scientist,Deloitte India (Offices of the US),https://in.linkedin.com/jobs/view/data-analyst...,"Hyderabad, Telangana, India"
5,Analyst/Senior Analyst-Procurement Analytics &...,Mordor Intelligence,https://in.linkedin.com/jobs/view/data-analyst...,"Hyderabad, Telangana, India"
6,Research Analyst,JPMorgan Chase & Co.,https://in.linkedin.com/jobs/view/data-analyst...,"Hyderabad, Telangana, India"
7,Compliance Analyst,PloPdo,https://in.linkedin.com/jobs/view/data-analyst...,"Hyderabad, Telangana, India"
8,Data Analyst,Google,https://in.linkedin.com/jobs/view/data-analyst...,"Hyderabad, Telangana, India"
9,"Data Analyst, Product Trust and Safety",Accenture in India,https://in.linkedin.com/jobs/view/data-analyst...,"Hyderabad, Telangana, India"
10,11-Analyst-Data Visualization,Microsoft,https://in.linkedin.com/jobs/view/data-analyst...,"Hyderabad, Telangana, India"
11,Data Analyst Lead,Dynata,https://in.linkedin.com/jobs/view/data-analyst...,"Hyderabad, Telangana, India"
12,Junior Data Analyst-2,Ivy,https://in.linkedin.com/jobs/view/data-analyst...,"Hyderabad, Telangana, India"
13,Data Analyst,RB,https://in.linkedin.com/jobs/view/data-analyst...,"Hyderabad, Telangana, India"
14,Analyst - People Analytics,J.P. Morgan,https://in.linkedin.com/jobs/view/data-analyst...,"Bibinagar, Telangana, India"
15,Compliance Analyst,Creative Hands HR Consultancy,https://in.linkedin.com/jobs/view/data-analyst...,"Hyderabad, Telangana, India"
16,Data Analytic,MedTourEasy,https://in.linkedin.com/jobs/view/data-analyst...,"Hyderabad, Telangana, India"
17,Research Trainee,BuzzBoard,https://in.linkedin.com/jobs/view/data-analyst...,"Hyderabad, Telangana, India"
18,Business Analyst,"GE Appliances, a Haier company",https://in.linkedin.com/jobs/view/data-analyst...,"Hyderabad, Telangana, India"
19,Data Analyst,Epiq,https://in.linkedin.com/jobs/view/data-analyst...,"Hyderabad, Telangana, India"
20,Quality Assurance Data Analyst,Amazon,https://in.linkedin.com/jobs/view/data-analyst...,Greater Hyderabad Area
21,"Manager,Data Mgmt",Ryan,https://in.linkedin.com/jobs/view/data-analyst...,"Hyderabad, Telangana, India"
22,Associate Research Analyst,PINKERTON | Comprehensive Risk Management,https://in.linkedin.com/jobs/view/data-analyst...,"Hyderabad, Telangana, India"

In [129]:
LINKED_IN.to_csv('LINKED_IN')