In [184]:
from selenium import webdriver
browser=webdriver.Chrome()
browser.get('https://www.imdb.com/chart/moviemeter/')

In [185]:
table=browser.find_elements_by_tag_name('td')
table[7].text

'7.1'

In [186]:
len(table)

500

In [187]:
MOVIES=[]
for i in range(1,500,5):
    Index=table[i].text.find('(')
    MOVIES.append(table[i].text[:Index].strip(' '))
MOVIES
print(len(MOVIES))

100

In [188]:
r=browser.find_elements_by_tag_name('td')
r[7].text

'7.1'

In [189]:
len(r)

500

In [191]:
import numpy as np
RATINGS=[]
for i in range(2,500,5):
    if(r[i].text==''):
        RATINGS.append(np.nan)
    else:
        RATINGS.append(float(r[i].text))
print(RATINGS)
print(len(RATINGS))

[6.7, 7.1, 7.8, 8.7, 5.5, 7.2, 7.8, 5.4, nan, 7.3, 6.7, 5.9, 2.8, 5.4, 7.1, 4.4, 6.2, 3.3, 7.1, 7.9, nan, 7.9, 5.3, 5.6, 6.6, 6.3, nan, 6.2, 6.3, 6.5, 5.5, nan, 8.5, 7.6, 8.4, 5.4, nan, 8.6, 6.2, 8.6, 7.6, 9.0, 7.1, 5.7, 8.7, 8.8, 7.3, 5.2, 9.3, 6.2, 8.1, 6.5, 4.4, 7.9, 6.6, 6.7, 6.2, nan, 7.8, 5.2, 8.2, 6.6, 8.6, 6.9, 5.3, 7.4, 7.5, 6.0, 6.8, 9.2, 7.1, 7.6, nan, 6.1, 8.5, 8.5, 8.9, 6.5, 8.3, 8.0, 8.1, 6.1, 8.0, 8.4, 5.5, 7.8, 7.6, 6.6, 7.7, 7.8, 5.2, 8.7, 8.2, 7.8, 6.6, 6.1, 8.6, 7.5, 7.6, 5.4]
100

In [192]:
k=browser.find_elements_by_tag_name('td')
Index=k[6].text.find('(')
print(k[6].text[Index:Index+6])
print(len(k))

(2020)
500

In [194]:
YEAR=[]
for i in range(1,500,5):
    Index=k[i].text.find('(')
    YEAR.append(k[i].text[Index:Index+6])
print(YEAR)
len(YEAR)

['(2020)', '(2020)', '(2020)', '(1975)', '(2020)', '(1982)', '(2020)', '(2020)', '(2020)', '(1984)', '(2020)', '(2020)', '(2020)', '(2020)', '(2020)', '(2020)', '(2020)', '(2020)', '(2018)', '(2019)', '(2020)', '(2019)', '(2020)', '(2020)', '(2020)', '(2017)', '(2020)', '(2020)', '(2016)', '(1984)', '(2020)', '(2021)', '(2019)', '(2001)', '(2019)', '(2020)', '(2021)', '(2014)', '(2019)', '(2019)', '(2019)', '(2008)', '(2017)', '(2019)', '(2020)', '(2010)', '(2018)', '(2018)', '(1994)', '(2020)', '(2019)', '(2020)', '(2020)', '(2019)', '(2020)', '(2020)', '(2020)', '(2021)', '(1985)', '(1989)', '(2013)', '(2019)', '(1995)', '(1993)', '(2019)', '(2019)', '(2019)', '(2020)', '(2019)', '(1972)', '(2019)', '(2009)', '(2020)', '(2020)', '(2020)', '(1985)', '(1994)', '(2020)', '(2019)', '(2014)', '(2015)', '(2020)', '(2017)', '(2012)', '(2020)', '(2005)', '(2019)', '(2019)', '(2007)', '(2019)', '(2008)', '(1990)', '(2020)', '(1997)', '(2020)', '(2015)', '(1991)', '(1988)', '(1998)', '(2020)']

100

In [221]:
k=browser.find_element_by_class_name('lister-list')
o=k.find_elements_by_tag_name('tr')
o[3].find_elements_by_tag_name('strong')[0].get_attribute('title')

'8.7 based on 896,546 user ratings'

In [286]:
k=browser.find_elements_by_tag_name("tr")
In=k[1].find_element_by_tag_name('strong').get_attribute('title').find('n')
I=k[1].find_element_by_tag_name('strong').get_attribute('title').find('u')
k[1].find_element_by_tag_name('strong').get_attribute('title')[In+1:I]
k[1].find_element_by_tag_name('strong').get_attribute('title')[:]

'6.7 based on 51,551 user ratings'

In [287]:
len(k)

101

In [351]:
k=browser.find_elements_by_tag_name("tr")
VOTES=[]
for i in range(1,101):
    try:
        In=k[i].find_element_by_tag_name('strong').get_attribute('title').find('n')
        I=k[i].find_element_by_tag_name('strong').get_attribute('title').find('u')
        VOTES.append(k[i].find_element_by_tag_name('strong').get_attribute('title')[In+1:I])
    except:
            VOTES.append(np.nan)

In [352]:
print(len(VOTES))

100

In [353]:
IMDB_RATINGS=pd.DataFrame({"Name":MOVIES,"Ratings":RATINGS,"Year":YEAR,"VOTES":VOTES})
IMDB_RATINGS.head(30)

                               Name  Ratings    Year      VOTES
0                      Enola Holmes      6.7  (2020)    51,551
1            The Devil All the Time      7.1  (2020)    45,410
2                             Tenet      7.8  (2020)   120,912
3   One Flew Over the Cuckoo's Nest      8.7  (1975)   896,546
4                        Antebellum      5.5  (2020)     6,527
5      Fast Times at Ridgemont High      7.2  (1982)    91,971
6                The Social Dilemma      7.8  (2020)    29,217
7                             Mulan      5.4  (2020)    57,039
8                              Dune      NaN  (2020)        NaN
9                    The Karate Kid      7.3  (1984)   178,853
10    I'm Thinking of Ending Things      6.7  (2020)    37,834
11     The Babysitter: Killer Queen      5.9  (2020)    16,579
12                           Cuties      2.8  (2020)    22,652
13                After We Collided      5.4  (2020)     4,390
14                The Invisible Man      7.1  (2020)   135,316
15       Lost Girls and Love Hotels      4.4  (2020)     1,234
16        Bill & Ted Face the Music      6.2  (2020)    18,803
17                         365 Days      3.3  (2020)    38,425
18              On the Basis of Sex      7.1  (2018)    23,693
19                    The Gentlemen      7.9  (2019)   187,332
20            The Croods: A New Age      NaN  (2020)        NaN
21                       Knives Out      7.9  (2019)   393,571
22                              Ava      5.3  (2020)    12,488
23                    The Paramedic      5.6  (2020)     4,820
24       The Trial of the Chicago 7      6.6  (2020)       245
25                   The Babysitter      6.3  (2017)    66,730
26                   No Time to Die      NaN  (2020)        NaN
27                            Alone      6.2  (2020)     1,990
28                         The Take      6.3  (2016)    36,233
29                             Dune      6.5  (1984)   124,097

In [337]:
IMDB_RATINGS.to_csv('IMDB')